.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: linear-gradient(teal, black);
}

.trackcard {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.2rem;
}

.trackcard h1 {
  font-weight: 900;
  font-size: 6rem;
}

.trackcard h2 {
  font-weight: 300;
  font-size: 4rem;
}

.trackcard div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 2rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .trackcard:hover {
    background: rgba(var(--card-rgb), 0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
  }
}
