.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.trackcard {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: background 200ms, border 200ms;
}

.trackcard h1 {
  font-weight: 600;
  font-size:80px;
}

.trackcard h2 {
  font-weight: 300;
  font-size:60px;
}

.trackcard div {
  float: right;
  margin-left: 2rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .trackcard:hover {
    background: rgba(var(--card-rgb), 0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
  }
}
